* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h5,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #4b5862;
}

h1 {
  color: #ffffff;
  font-size: 3rem;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1em;
}

h5 {
  font-size: 1rem;
  margin-bottom: 2em;
}

.header-subtitle {
  color: #ffffff;
  font-weight: 300;
  font-size: 0.85rem;
  letter-spacing: 1px;
}

nav a {
  color: #ffffff;
  font-family: "Overpass", sans-serif;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 4em;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  margin-right: 0.5em;
  padding: 0.7em 1.2em;
  border-radius: 50px;
}

.btn-white {
  background-color: #ffffff;
  color: #ff525d;
}

.btn-transparent {
  color: #ffffff;
}

header {
  background-color: #ff525d;
  background-image: url(../../images/bg-pattern-intro.svg), linear-gradient(to right, #eb715a, #e6305a);
  background-repeat: no-repeat;
  background-size: 190%;
  background-position-x: -264px;
  background-position-y: -1153px;
  border-bottom-left-radius: 100px;
  padding: 2.5em 0 7em;
  margin-bottom: 2em;
}
header .header-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header .header-container .header-nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-container .header-nav-container nav {
  width: 40%;
  margin-left: -12em;
}
header .header-container .header-nav-container nav .nav-links {
  display: flex;
  justify-content: space-between;
}
header .header-container .header-nav-container nav .nav-links .nav-links-fall-down {
  display: none;
}
header h1 {
  margin: 2.5em 0 0.2em;
}
header .header-cta-btns {
  margin-top: 3.5em;
}
header .header-cta-btns .btn-transparent {
  border: 1px solid #ffffff;
}

main .section-top-container {
  padding: 4em 0 14em;
  background-image: url(../../images/illustration-editor-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: 805px;
  background-position-y: 10px;
}
main .section-top-container .section-inner-container {
  width: 90%;
  max-width: 1000px;
  margin: 4em auto 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
main .section-top-container .section-inner-container article {
  width: 50%;
  margin-top: 5em;
}
main .section-top-container .section-inner-container .section-graphics {
  width: 50%;
  visibility: hidden;
}
main .section-middle-container {
  background-color: #232335;
  background-image: url(../../images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position-x: -192px;
  background-position-y: -492px;
  color: #ffffff;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  margin-bottom: 6em;
}
main .section-middle-container .section-middle-inner-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .section-middle-container .section-middle-inner-container .phone-graph {
  margin-top: -5em;
  margin-left: -4em;
  margin-right: 4em;
  margin-bottom: -6.5em;
}
main .section-bottom-container {
  background-image: url(../../images/illustration-laptop-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: -278px;
  background-position-y: 15px;
  padding: 4em 0 14em;
}
main .section-bottom-container .section-bootom-inner-container {
  width: 90%;
  max-width: 1000px;
  margin: 4em auto 0;
  display: flex;
  justify-content: space-between;
}
main .section-bottom-container .section-bootom-inner-container article {
  width: 45%;
  margin-top: 5em;
}
main .section-bottom-container .section-bootom-inner-container .section-graphics {
  width: 50%;
  visibility: hidden;
}

footer {
  background-color: #1b1b21;
  color: #ffffff;
  padding-top: 4em;
}
footer .footer-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 1.5em;
  display: flex;
  justify-content: space-between;
  padding-right: 11em;
}
footer .footer-container .footer-links-list li {
  margin-bottom: 1em;
}
footer .footer-container .footer-links-list li a {
  color: #ffffff;
  font-weight: 300;
  font-size: 0.8rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #ff525d;
}