body{
    background-color: yellow;
}

// ---------fonts--------------

// font-family: 'Overpass', sans-serif;
// font-family: 'Ubuntu', sans-serif;

// ------------------------------






























// standart footer atributes
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }