// -----technical--and--temp-setings----
*{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h5,
ul,
li,
p{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}



// -----variables------
// ****fonts*****
$bodyFont: 'Ubuntu', sans-serif;
$headingFont: 'Overpass', sans-serif;
// *******colors******
$CTA_text: #ff525d;
$CTA_hover_background: #ff7a85;
$headings: #1f3f5b;
$White_text: #ffffff;
$footer_text: #c8c8cb;
$body_copy: #4b5862;
$footer_background: #25252d;


// --------TYPOGRAPHY------
body{
    font-family: $bodyFont;
    font-size: 1rem;
    font-weight: 400;
    color: $body_copy;
}

h1{
    color: $White_text;
    font-size: 3rem;
    font-family: $headingFont;
    font-weight: 400;
}

h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
}

h3{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1em;
}

.header-subtitle{
    color: $White_text;
    font-weight: 300;
    font-size: .85rem;
    letter-spacing: 1px;
}

nav a{
    color: $White_text;
    font-family: $headingFont;
}

p{
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 4em;
}

.btn{
    display: inline-block;
    // background: yellow;
    font-size: 1rem;
    font-weight: 300;
    margin-right: 0.5em;
    padding: 0.7em 1.2em;
    border-radius: 50px;
}

.btn-white{
    background-color: $White_text;
    color: $CTA_text
}

.btn-transparent{
    color: $White_text;
}

// ---------------LAYOUT--------

// ___header_____
header{
    background-color: $CTA_text;
    background-image: url(../../images/bg-pattern-intro.svg), linear-gradient(to right,#eb715a, #e6305a);
    background-repeat: no-repeat;
    background-size: 190%;
    background-position-x: -264px;
    background-position-y: -1153px;
    border-bottom-left-radius: 100px;
    padding: 2.5em 0 7em;
    margin-bottom: 2em;
    .header-container{
        margin: 0 auto;
        width: 90%;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .header-nav-container{

            // border: 1px dashed green;

            width: 100%;
            // max-width: 1000px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            nav{
                width: 40%;

                margin-left: -12em;

                .nav-links{

                    // border: 1px dashed black;

                    display: flex;
                    justify-content: space-between;
                    .nav-links-fall-down{
                        display: none;
                    }
                }
            }
            
        }
    }
    h1{
        margin: 2.5em 0 0.2em
    }
    .header-cta-btns{
        margin-top: 3.5em;;
        .btn-transparent{
            border: 1px solid $White_text;
        }
    }
    
}


main{ 
    .section-top-container{
        // background-color: yellow;
        padding: 4em 0 14em;
        background-image: url(../../images/illustration-editor-desktop.svg);
        background-repeat: no-repeat;
        background-position-x: 805px;
        background-position-y: 10px;
        .section-inner-container{
            width: 90%;
            max-width: 1000px;
            margin: 4em auto 0;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            article{
                width: 50%;
                margin-top: 5em;
            }
            .section-graphics{
                width: 50%;
                visibility: hidden;
            }
        }
    }
    .section-middle-container{
        background-color: #232335;
        background-image: url(../../images/bg-pattern-circles.svg);
        background-repeat: no-repeat;
        background-position-x: -192px;
        background-position-y: -492px;
        color: $White_text;
        border-bottom-left-radius: 100px;
        border-top-right-radius: 100px;
        .section-middle-inner-container{
            width: 90%;
            max-width: 1000px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .phone-graph{
                margin-top: -5em;
                margin-left: -4em;
                margin-right: 4em;
                margin-bottom: -6.5em;
            }

        }

    }
}





























// standart footer atributes
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }