*{
    box-sizing: border-box;
}

/* font-family: 'Overpass', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body,
h1,
h2,
h3,
h4,
p,
ul,
li{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

body{
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

/* =====================
====TYPOGRAPHY======
===================== */

h1,
h2,
h3,
h4{
    font-weight: 300;
}

h1,
h2,
h3,
h4,
.subtitle,
.login,
.sign-up,
.nav-main-links{
    font-family: 'Overpass', sans-serif;
}

h1{
    font-size: 2.325rem;
    margin-bottom: 0.3em;
}

h1,
.subtitle{
    color: #ffffff;
    text-align: center;
}

h2,
h3{
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    color: #1f3f5b;
}

h2{
    margin-bottom: 1.5rem;
}

h3{
    margin-bottom: 0.7rem;
}

h4{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1.2em;
}

P{
    color: #7c7c7c;
    margin-bottom: 3.5rem;
}

img{
    width: 100%;
}

.subtitle{
    font-weight: 300; 
    font-size: 1.3rem;
    margin-bottom: 2em;
}

.login,
.sign-up,
.nav-main-links{
    font-size: 1.2rem;
    font-weight: 600;
}

.fall-down-item{
    text-decoration: none;
    color: #1f3f5b;
    font-size: 1.1rem;
    letter-spacing: 0.003em;
}


/* ============================
=========HEADER=============
============================ */

header{
    background-image: url(../images/bg-pattern-intro.svg) ;
    /* background-color: linear-gradient(to left, #ff525d, #ff7a85); */
    background-color: #ff525d;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 350%;
    background-position-x: -387px;
    background-position-y: -322px;
    padding-top: 3.3em;
    padding-bottom: 6em;
    border-bottom-left-radius: 100px;
}

.header-container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.header-top-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
}

.header-nav{
    width: 100%;
    padding: 1.6em 0;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: 0;
    box-shadow: 6px 3px 20px 2px rgba(0,0,0,0.5);
    display: none;
}

.header-nav-links{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 2em;

}

.arrow{
    width: 15px;
    height: 7px;
    display: inline-block;
    background-image: url(../images/icon-arrow-dark.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.nav-main-links{
    display: inline-block;
    text-decoration: none;
    margin-bottom: 1em;
    color: #1f3f5b;
}

.header-nav-login-btns{
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-nav-login-btns .login{
    color: #1f3f5b;
}

.nav-fall-down-links{
    width: 95%;
    padding: 1em 0;
    background-color: #e5e5e5;
    border-radius: 5px;
    margin: 0 auto 1em;
    text-align: center;
    display: none;
    /* transition: 10s; */
    
}

.nav-main-links:hover + .nav-fall-down-links,
.nav-main-links:focus + .nav-fall-down-links{
    display: block;
}

.nav-fall-down-links:hover,
.nav-fall-down-links:focus{
    display: block;
}

.nav-fall-down-links li{
    padding-bottom: 1em;
}


.header-logo{
   
    width: 25%;
}

.close-nav{
    display: none;
}

.call-to-action-btns{
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.btn{
    display: inline-block;
    border: 2px solid #ffffff;
    padding: 0.7em 1.5em;
    border-radius: 50px;
    text-decoration: none;
    color: #ff525d;
    background-color: #ffffff;
}

.btn-inverse{
    color: #ffffff;
    background: #ff525d;
}

@media (min-width: 850px){
    header{
        background-size: 200%;
        background-position-x: -324px;
        background-position-y: -573px;
    }
    .header-logo{
        width: 18%;
    }
    .header-nav-call{
        display: none;
    }
    .header-nav{
        /* border: 1px dashed black; */
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding: 0;
        background: none;
        position: inherit;
        top: 0;
        box-shadow: none;  
    }
    .header-nav-links{
        width: 50%;
        margin: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: none;
        margin-bottom: 0;
    
    }
    .nav-main-links{
        /* width: 100%; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        margin-bottom: 0;
        margin-right: 1em;
        color: #ffffff;
    }
    .arrow{
        width: 15px;
        height: 7px;
        display: inline-block;
        background-image: url(../images/icon-arrow-light.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .header-nav-login-btns{
        width: 250px;
        margin: 0 ;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .header-nav-login-btns .login{
        color: #ffffff;
        background: none;
        border: none;
    }
    .header-nav-login-btns .sign-up{
        background-color: #ffffff;
        color: #ff525d;
        padding-bottom: 0.3em;
        padding-top: 0.3em;
    }
    .nav-fall-down-links{
        position: absolute;
        top: 50px;
        width: 200px;
        padding: 0.5em ;
        background-color: #fff;
        border-radius: none;
        margin: 0;
        text-align: left;
        display: none; 
    }
    .nav-fall-down-links.product{
        left: 10px;
    }
    .nav-fall-down-links.company{
        left: 120px;
    }
    .nav-fall-down-links.contact{
        left: 240px;
    }


}

@media (min-width: 1400px){
    header{
        background-size: 150%;
        background-position-x: -294px;
        background-position-y: -875px;
    }
    .header-logo{
        width: 10%;
    }
}


/* ==============================
=======MAIN==================
============================= */

.section-inner-container{
    padding-top: 6em;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    /* border: 1px dashed fuchsia; */

}

.section-inner-container-article{
    /* background-color: goldenrod; */
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.article-text{
    text-align: center;
}

@media (min-width: 850px){
    h2{
       font-size: 2rem;
       margin-bottom: 3em;
    }

    h3{
        font-size: 1.4rem;
        text-align: left;
    }
    .section-inner-container-article{
        flex-direction: row;
    }

    .article-row-reverse{
        flex-direction: row-reverse;
    }

    .article-text{
        text-align: left;
        width: 50%;
    }
    .article-illustration{
        width: 45%;
    }

}

@media (min-width: 1000px){
    .article-illustration{
        visibility: hidden;
    }


    .inner-container-desktop{

        background-image: url(../images/illustration-editor-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: 165%;
        /* background-position-x: 165em; */
        background-position-y: center;

    }

    .inner-container-laptop{
        background-image: url(../images/illustration-laptop-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: -58%;
        background-position-y: center;

    }

}

@media (min-width: 1440px){
    .inner-container-desktop{
        padding:  12em 0;
        background-size: 55%;
        background-position-x: 136%;
        background-position-y: 135px;
      
    }
    .inner-container-laptop{
        padding:  12em 0;
        background-size: 56%;
        background-position-x: -36%;
        background-position-y: 10px;
    }

}

/* ----middle---section---- */


.middle-section-inner-container{
    background-color: #2a2942;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 5em 0;
    margin-top: 10em;
    background-image: url(../images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: -250px;    
}

.middle-section-inner-container-article{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.middle-section-article-text{
    text-align: center;
}

.middle-section-article-text h3{
    color: rgba(255, 255, 255, 0.85);
    font-size: 2.3rem;
}
.middle-section-article-text p{
    color: rgba(255, 255, 255, 0.7);
}

.middle-section-article-illustration{
    margin-top: -15em;;
}

@media (min-width: 850px){
    .middle-section-inner-container{
        padding: 0;
    }

    .middle-section-inner-container-article{
        flex-direction: row;
    }

    .middle-section-article-text{
        width: 55%;
        text-align: left;
    }

    .middle-section-article-illustration{
        margin-top: -5em;
        /* margin-bottom: -2em; */
    }
}

@media (min-width: 1440px){
    .middle-section-inner-container{
        background-size: 56%;
        background-position-x: -8%;
        background-position-y: -369px;  
    }

    .middle-section-article-illustration{
        margin-bottom: -6.5em;
    }
}


/* =============================
============FOOTER==========
============================ */


footer{
    background-color: #1b1b21;
    border-top-right-radius: 100px;
    padding-top: 3.8em;
}

.footer-inner-container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5em;
}

.footer-logo{
    width: 20%;
}

.footer-nav-links-bloks{
    width: 20%;
    text-align: center;
    margin-bottom: 3em;
}

.footer-logo{
    margin-bottom: 3em;
}

.footer-nav-links-bloks a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    line-height: 2.2;
}

@media (min-width: 850px){

    .footer-inner-container{
        padding-right: 5em;
        flex-direction: row;
        align-items: flex-start;
    }

    .footer-logo{
        width: 10%;
    
    }
}


.attribution{
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    font-size: 0.7rem;
    color:rgba(255, 255, 255, 0.7)
}

.attribution a{
    color: #ff525d;
}







